<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
		<mapping>
			<level value="ERROR" />
			<foreColor value="Red" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<foreColor value="Yellow" />
		</mapping>
		<mapping>
			<level value="INFO" />
			<foreColor value="White" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
		</mapping>
		<layout type="Utilities.TextLayout, Utilities" />
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="ManagedColoredConsoleAppender" />
	</root>

	<logger name="Utilities">
		<level value="INFO" />
	</logger>

</log4net>
